*.DS_Store
code/server/coverage/

!code/
code/*
!code/server/
code/server/*
!code/server/node_modules/
code/server/node_modules/*
!code/server/node_modules/password-salt-and-hash

code/client/node_modules/
